.hero{

width:90%;

max-width:1300px;

margin:50px auto;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:60px;

}

.offer{

display:inline-block;

background:#dbeafe;

color:#2563eb;

padding:10px 18px;

border-radius:30px;

font-weight:600;

margin-bottom:20px;

}

.hero h1{

font-size:58px;

line-height:1.1;

margin-bottom:20px;

color:#111827;

}

.hero p{

font-size:20px;

color:#6b7280;

margin-bottom:35px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.shop-btn{

padding:16px 35px;

border:none;

border-radius:40px;

background:#2563eb;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.shop-btn:hover{

background:#1d4ed8;

transform:translateY(-3px);

}

.explore-btn{

padding:16px 35px;

border:2px solid #2563eb;

background:white;

border-radius:40px;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.explore-btn:hover{

background:#2563eb;

color:white;

}

.hero-image img{

width:100%;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.features{

width:90%;

max-width:1300px;

margin:70px auto;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.feature-card{

background:white;

padding:35px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

font-size:35px;

}

.feature-card:hover{

transform:translateY(-8px);

}

.feature-card h3{

margin:15px 0;

font-size:22px;

}

.feature-card p{

color:gray;

}

.section-title{

text-align:center;

margin:70px 0;

}

.section-title h2{

font-size:42px;

color:#111827;

margin-bottom:10px;

}

.section-title p{

color:gray;

font-size:18px;

}

@media(max-width:900px){

.hero{

grid-template-columns:1fr;

}

.hero h1{

font-size:40px;

}

.features{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.features{

grid-template-columns:1fr;

}

}
.products{

width:90%;

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fill,minmax(280px,1fr));

gap:30px;

padding-bottom:80px;

}