*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#f5f7fb;

color:#111827;

}

img{

max-width:100%;

display:block;

}

button{

font-family:inherit;

}

a{

text-decoration:none;

}

.container{

width:90%;

max-width:1300px;

margin:auto;

}

html{

scroll-behavior:smooth;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#2563eb;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#e5e7eb;

}